body{
    background-color: black;
    color:rgb(10, 252, 151);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


button{
    background-color: rgb(10, 252, 151);
    color:rgba(0, 0, 0, 0.651);
 border:none;
    padding:12px 45px;
    
    box-shadow: 0px 0px 25px 7px rgb(17, 155, 97);
    border-radius:5px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 26px;
    cursor:pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{

  width:100%;
  margin-top: 40px;


}

.twobutton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    margin-top: 30px;

}

.main-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
#main{
    border-radius:100%;
    padding: 25px;
   
}
.text-section{
    width:50%;
    text-align: center;
    margin:0 auto;
    display:block;
    color:rgba(10, 252, 151, 0.644);
    margin-top:40px;
    text-transform: capitalize;
    letter-spacing: 1px;;
}
#momo{
  text-decoration: underline;
}

@media screen and (max-width:576px) {
    button{
        padding:9px 20px;
        font-size:20px;
    }
#main{
    padding:15px;
}
    
}